@import 'variables', 'mixins';

.card-padre {
  display: flex; // Usamos flexbox para alinear las tarjetas
  justify-content: center; // Centramos las tarjetas en el contenedor
  gap: 20px; // Espacio entre tarjetas
  flex-wrap: wrap; // Permitimos que las tarjetas pasen a la siguiente línea si no caben
  margin: 12px; // Margen exterior
  font-family: $fuente-base; // Usamos la fuente base
}

.card {
  width: 18rem; // Definimos el ancho de la tarjeta aquí en lugar de en el HTML
  @include responsive(mobile) {
    width: 90%; // Hacemos que la tarjeta ocupe más espacio en móviles
  }
}

.ropa-nueva h3, .ofertas h3 {
  font-family: $fuente-base;
  text-align: center;
  font-size: 23px;
  margin: 16px auto;
  font-weight: 550;
  padding: 15px;
}
