@import 'variables', 'mixins';

footer {
  background-color: white;
  color: black;
  padding: 20px;
  margin-top: auto;
  border-top: 1px solid #e0e0e0;

  .imagenes {
    @include center;
    justify-content: space-between;
  }

  .logo-negro {
    width: 145px;
  }

  .redes {
    display: flex;
    gap: 15px;

    img {
      width: 30px;
      height: 30px;
      cursor: pointer;
    }
  }
}
