@mixin center {
  display: flex;
  justify-content: center;
  align-items: center;
}


@mixin shadow($x: 0, $y: 4px, $blur: 10px, $color: rgba(0,0,0,0.1)) {
  box-shadow: $x $y $blur $color;
}


@mixin responsive($breakpoint) {
  @if $breakpoint == mobile {
    @media (max-width: 767px) { @content; }
  } @else if $breakpoint == tablet {
    @media (min-width: 768px) and (max-width: 991px) { @content; }
  }
}
