@mixin responsive-mobile {
    @media (max-width: #{$breakpoint-mobile}) {
        @content;
    }
}

@mixin responsive-tablet {
    @media (min-width: #{$breakpoint-tablet}) {
        @content;
    }
}

@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin flex-column {
    display: flex;
    flex-direction: column;
}