$color-principal: #5E5E5E;
$color-secundario: #253489;
$color-fondo: #ffffff;
$color-texto: #000000;
$color-white: #ffffff;

$fuente-base: 'Montserrat', sans-serif;

$ancho-maximo: 600px;
$padding-base: 20px;
