@import 'mixins';

main {
  flex: 1;
  padding: 20px 0;
}

.main-home, .main-hombres, .main-mujer, .main-niños {
  padding-top: 0;
}

.anuncio-hombres {
  display: block;
  width: 100vw;
  height: auto;
  margin-left: calc(-50vw + 50%);
  margin-right: calc(-50vw + 50%);
}

.anuncio-mujer {
  display: block;
  width: 100vw;
  height: auto;
  margin-left: calc(-50vw + 50%);
  margin-right: calc(-50vw + 50%);
}

.anuncio-niños {
  display: block;
  width: 100vw;
  height: auto;
  margin-left: calc(-50vw + 50%);
  margin-right: calc(-50vw + 50%);
}
